.background {
    position: relative;
    height: 100vh;
    margin: 0;
    width: 100%;

    background-image: url("../images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}