#background {
    width: 100%;
    height: 100vh;

    background-image: url("../images/background.jpg");
    background-size: cover;
    /*background-position: center;*/
    background-repeat: repeat-x;
}

/*character*/
#character {
    height: 30%;
    margin-top: 53.7vh;
    margin-left: 4vw;
}

/*wolf barrier*/
.wolf {
    width: 25vw;
    height: 15vh;
    position: absolute;
    margin-top: 69vh;

    background-image: url("../images/barriers/wolf-barrier-land.gif");
    background-size: contain;
    background-repeat: no-repeat;
}

#score_icon {
    height: 20%;
    display: inline-block;
    margin-top: -0.5%;
    margin-left: 1%;
}

/*game score*/
#score {
    position: relative;
    margin-top: 38px;
    margin-left: 14%;
}

#space_ctrl {
    margin-top: 42%;
    margin-left: 82%;
}

#exit_ctrl {
    margin-top: 44%;
    margin-left: 82%;
}

#owner_title {
    margin-top: 45%;
}